@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

body{
    background-color: #ffffff;
    font-family: 'Fredoka', sans-serif;

}
 
/* header */
#header{
    max-height: 10vh;
}

#logo-header img{
    width: 130px;
    height:80px;
    padding-bottom: 5px;
} 

/* navigation */
#nav-side{
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav-list{
    width: 100%;
    /* text-align: center; */
    padding-left: 15px;
}

/* override */
.list-group-flush .list-group-item {
    border-radius: 30px 0px 0px 30px;
    color: #000000;
    font-weight: bold;
    font-size: 1.1em;
    border-color: #ffffff;
}


.list-group-item.active {
    background-color: #f2f2f2;
    border-color: #ffffff;
}
.list-group-item:hover{
    color: #000fff;
    background-color: #ebd380;
    
}

/* main */
#main-body{
    min-height: 90vh;
}
.main-container{
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 0px;
}

