
body{
    background-color: #ffffff;
    font-family: Helvetica, Sans-Serif;
}
 
/* header */
#header{
    min-height: 10vh;
}

#logo-header img{
    width: 170px;
    height:100px;
    padding-bottom: 5px;
} 

#profile-header{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#header .bx{
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 2rem;
    padding-left: 0;
    margin-left: -10px;
    color: #7c7c7d;
    cursor: pointer;
}

/* navigation */
.nav-side{
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav-list{
    width: 100%;
    /* text-align: center; */
    padding-left: 15px;
}

/* override */
#nav1 .list-group-flush .list-group-item {
    border-radius: 30px 0px 0px 30px;
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    border-color: #ffffff;
    /* position: relative; */
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    width: 100%;

}


#nav1 .list-group-item.active {
    background-color: #e8e8e8;
    border-color: #ffffff;
    position: relative;
}
#nav1 .list-group-item.active::before{
    position: absolute;
    content: '';
    height: 50px;
    width: 15px;
    right: 0;
    bottom: 100%;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 0 #e8e8e8;  
    
}

#nav1 .list-group-item.active::after{
    position: absolute;
    content: '';
    height: 50px;
    width: 15px;
    right: 0;
    top: 100%;
    border-top-right-radius: 15px;
    box-shadow: 0 -20px 0 #e8e8e8; 
}


#nav1 .list-group-item:hover{
    background-color: #789680;  
    z-index: 99999;
}
#nav1 .list-group-item:hover::before{
    position: absolute;
    content: '';
    height: 50px;
    width: 15px;
    /* background-color: #ffffff; */
    right: 0;
    bottom: 100%;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 0 #789680;  

}
#nav1 .list-group-item:hover::after{
    position: absolute;
    content: '';
    height: 50px;
    width: 15px;
    /* background-color: #ffffff; */
    right: 0;
    top: 100%;
    border-top-right-radius: 20px;
    box-shadow: 0 -25px 0 #789680;  
}

.nav-list .fa-solid{
    margin-right: 10px;
}

#profile-picture{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-bottom: 35px;
    margin-right: 15px;
}

/* main */
#main-body{
    min-height: 90vh;
}
.main-container{
    background-color: #e8e8e8;
    border-radius: 20px 0px 0px 0px;
}

/* account setting */
.form-container{
    background-color: #ffffff;
    border-radius: 30px;
}

.form-container .h5{
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}
form .btn{
    padding: 10px;
    background-color: #789680;
    margin-right: 10px;
}

.active-form{
    margin-top: 1px;
    border-bottom: 2px solid #789680;
}

#picture, #personal, #pass-change, #about-me-div, #setting-div{
    cursor: pointer;

}
.active-list{
    color: #789680;
    font-weight: bold;
}
 
/* image profile picture */
#changing-profile, #about-profile
{
    width: 100%;
    height: 250px;
    border-radius: 30px;
    margin-bottom: 35px;
    margin-top: 30px;
}


.prof-delete .btn{
    background-color: #dea4a4;
}

#detail-container{
    min-height: 65vh;
}

/* breadcrumb */
.breadcrumb{
    background-color: #e8e8e8;
    margin-bottom: -4px;
    letter-spacing: 0px;
    padding: 19px;
    color: #aaaaaa;
    letter-spacing: 1.2px;
    border-radius: 30px;
    background-color: #ffffff;
    width: 100%;
    font-size: 15px;
}

.breadcrumb-item a{
    color: #000000;
}
.breadcrumb>li+li:before {
    content: "";
}

.breadcrumb > .active a{
    color: #789680;
}


/* about me */
#about-me .fa-solid{
    color: #789680;
    font-size: 1.3rem;
}

.transition-effect{
    animation-duration: 2s;
    animation-name: fadeInAnimation;
  }
  
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.ease-out {
    transition-timing-function: ease-out;
    transition: 0.25s;
    transform: translateY(0);
}

/* table */
#detail-container table{
    text-align: left;
    overflow-x:auto;
    font-size: 14px;
}
.table td, .table th {
    padding: 1rem;
    border-top: 0.5px solid #dee2e6;
}
.table td{
    text-transform: lowercase;
}
.table td::first-letter{
    text-transform: uppercase;
}

.badge{
    margin-top: 7px;
    line-height: 0.4;
    height: 12px;
}
.badge-completed {
    color: #304b37;
    background-color: #b1c7b7;
    
}
.badge-pending{
    color: #5e561b;
    background-color: #fcf2bc;
}

.badge-processing{
    color: #353ea4;
    background-color: #96afd1;
}

.mygreen{
    background-color: #b1c7b7;
}

.card{
    border-radius: 2rem;
}

thead th:first-child {
    border-radius: 30px 0 0 0px;
    border-top-color: #ffffff;
}
thead th:last-child {
    border-radius: 0 30px 0px 0;
    border-top-color: #ffffff;
}

thead th:nth-child(2),thead th:nth-child(3),thead th:nth-child(4),thead th:nth-child(5){
    border-top-color: #ffffff;
}

/* product page */
.prod-view-img{
    width:45px;
    height: 45px;;
}