@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

body{
    background-color: #ffffff;
    font-family: 'Fredoka', sans-serif;

}
 
/* header */
#header{
    max-height: 10vh;
}

#logo-header img{
    width: 130px;
    height:80px;
    padding-bottom: 5px;
} 

/* navigation */
#nav-side{
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav-list{
    width: 100%;
    /* text-align: center; */
    padding-left: 15px;
}

/* override */
.list-group-flush .list-group-item {
    border-radius: 30px 0px 0px 30px;
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    border-color: #ffffff;
    position: relative;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;

}


.list-group-item.active {
    background-color: #f2f2f2;
    border-color: #ffffff;
    position: relative;
}
.list-group-item.active::before{
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    right: 0;
    bottom: 100%;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 0 #f2f2f2;  
    
}

.list-group-item.active::after{
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    right: 0;
    top: 100%;
    border-top-right-radius: 15px;
    box-shadow: 0 -20px 0 #f2f2f2; 
}


.list-group-item:hover{
    background-color: #ebd380;  
    z-index: 99999;
}
.list-group-item:hover::before{
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    /* background-color: #ffffff; */
    right: 0;
    bottom: 100%;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 0 #ebd380;  

}
.list-group-item:hover::after{
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    /* background-color: #ffffff; */
    right: 0;
    top: 100%;
    border-top-right-radius: 20px;
    box-shadow: 0 -25px 0 #ebd380;  
}

.fa-solid{
    margin-right: 10px;
}

/* main */
#main-body{
    min-height: 90vh;
}
.main-container{
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 0px;
}

