@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
body{
    background-color: #ffffff;
    font-family:'Poppins', sans-serif;
}
 
.category-banner
{
    border-radius: 10px;
}