@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Quicksand:wght@300;400;500&display=swap');
body{
    /* background-color: #ffffff; */
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    background-color: #f7f7f7;
}

.cust-profile-img-container{
    /* background-color: #c3d0bb; */
    background-color: #d7dfd2;
    min-height: 200px;
}

.cust-profile-img{
    width: 70%;
    margin: 40px 10px 5px 10px;
    border-radius:100px;
    border: 2px solid #ffffff;
}


.setting-nav{
    background-color: #ffffff;
    border-radius: 8px;
}
.setting-nav a{
    color:#000000;
    text-decoration: none;
}

.container-profile{
    width: 80%;
    border-radius: 50px;
    max-height: 80%;
}

.my-profile-container .fa-solid{
    color: #78967e;
}

.wishlist-dashboard .fa-heart{
    color: white;
    font-size: 100px;
    -webkit-text-stroke: 1px black;
    padding: 10px;     
}

.overview-row{
    height: 270px;
    overflow: hidden;
}

.my-green-font{
    color: #78967e;
}

.list-group-item.active {
    color: #000000;
    background-color: #d7dfd2;
    border-color: #d7dfd2;;
    font-weight: bold;
}

.orders-icons {
    font-size: 50px;
    color: #78967e;
    /* color: #d9bcb7; */
    margin: 30px 10px 5px 10px;
}
.setting-nav .list-group-item:hover, .btn:hover{
    background-color: #d9bcb7;
    transition: background-color 0.7s linear;
    cursor: pointer;
}
.orders-icons:hover, .all-order-select:hover, .to-recieve-select:hover, .recieved-select:hover{
    color: #d9bcb7;
    cursor: pointer;
}

#sticky-nav {
    position: sticky;
    top: 0;
}

.rounded-top {
    border-top-left-radius: 0.5rem!important;
    border-top-right-radius: 0.5rem!important;
}
.rounded-bottom {
    border-bottom-right-radius: 0.5rem!important;
    border-bottom-left-radius: 0.5rem!important;
}

.profile-row{
    height: 350px;
}
.btn {
    background-color: #d7dfd2;
    box-shadow: 0px 0px 2px rgb(144, 139, 139);
}

.form-control {
    color: #495057;
    background-color: #fff;
    border: 0px solid #ced4da;
    border-bottom: 1px solid #d4cfcf;
    border-radius: 0rem;
    background-color: transparent;
}

.form-control:focus {
    border-color: #78967e;
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

.profile-success{
    width: 30%;
    position: fixed;
    top:40px;
    right: 0px;
    z-index: 1070;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.changing-profile
{
    width: 100%;
    max-height: 160px;
    border-radius: 30px;
    margin-bottom: 35px;
}

.preview-img
{
    width:160px;
    height: 160px;
} 

.modal-content {
    border-radius: 2rem;
}

.modal-header{
    border-radius:2rem 2rem 0 0 ;
}
.modal-footer .btn-primary{
    background-color: #d7dfd2;
    border-color: #d7dfd2;
}

.modal-footer .btn-secondary{
    border: 0px;
}

@media (min-width: 576px)
{
    .modal-dialog {
        max-width: 70%;
    }
}

.transition-effect{
    animation-duration: 2s;
    animation-name: fadeInAnimation;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.light-green{
    background-color: #d7dfd2;
}

.table th {
    padding: 0.7rem;
    border-bottom: 0.5px solid #d7dfd2;
}

.order-cust-container{
    min-height: 290px;
}

.review-profile{
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

.bxs-star{
    color: #dac775 ;
}