.topad p{
    -webkit-animation: text-animation 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: text-animation 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.sbc h3 {
    -webkit-animation: text-animation 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: text-animation 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.top h2{
    -webkit-animation: text-shadow 0.6s both;
	        animation: text-shadow 0.6s both;
}
.footer hr {
    -webkit-animation: color-change 2s linear infinite alternate both;
	        animation: color-change 2s linear infinite alternate both;
}
/*tracking animation for texts*/
@-webkit-keyframes text-animation {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes text-animation {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  /*shadow animation for texts*/
  @-webkit-keyframes text-shadow {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes text-shadow{
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }
  /*footer background color animations*/
  @-webkit-keyframes color-change {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  @keyframes color-change {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }