@import url('https://css.gg/css');

body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;

}
.nav-bar{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color: transparent;
    overflow: auto;
    position: relative;
    
}
.nav-bar a{
    float: left;
    padding: 15px;
    padding-left: 50px;
    color:black;
    text-decoration: none;
    font-size: 20px;
    left: 50%;
    transition: all .2s ease-in-out;


}
/* .nav-bar a:hover{
    transform: scale(1.1);

} */
.elements{
    position: absolute;
    right: 122px;
    top: 40px;

}

.nav-bar .icon {
    float: left;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin-left: 220px;
}

.nav-bar .icon i{
    padding-left: 40px;
    transition: all .2s ease-in-out;
}
.nav-bar .icon i:hover{
    transform: scale(1.5);

}


.nav-bar img{
    float: left;
    padding: 15px;
    padding-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-right: 200px;
}

.topad{
    background: ghostwhite; 
            font-size: 20px; 
            height: 460px;
            width: 100%;
            overflow: hidden;
}
.topad p{
    margin-left: 45%;
    margin-top: 200px;
}

.topad img{
    margin-left: 15em;
}



/* categoriesssssssssss */
.carousel-cell {
    width: 30%;
    margin: 10px;
    }

.card{
    border: solid #D8EBE5 1px;
    border-radius: 15px;
    background-color: #D8EBE5;
}

h4{
    margin-left: 2rem;
}

p{
    margin-left: 1rem;
}

.category-btn{
    border: solid white 2px;
    border-radius: 8px;
    height: 41px;
    width: 120px;
    background-color: white;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    padding-top: 8px;
    text-align: center;
    
    
}

    /* cell number */
    .carousel-cell:before {
      display: block;
    }

    .slider-img1{
      margin-top: 33px;
      margin-left: 4rem;
      margin-bottom: 1.5rem;
    }
    .slider-img2{
      margin-left: 44px;
      margin-top: 21px;
    }
    .slider-img3{
      margin-top: 50px;
      margin-left: 28px;
    }
    .slider-img4{
      margin-left: 38px;
      margin-top: 62px;
      margin-bottom: 2.2rem;
    }
    .slider-img5{
      margin-left: 35px;
      margin-top: 41px;
      margin-bottom: 1.5rem;
    }

    a:link {
            text-decoration: none;
        }
/* categories-end */


.ad2{
    background: ghostwhite; 
    font-size: 20px; 
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.ad2 p{
    margin-left: 45%;
    margin-top: 40px;
}

.ad2 img{
    height: 40rem;
    width: 143rem;
}


.ad3{
    background: #D8EBE5; 
    font-size: 20px; 
    height: 200px;
    width: 100%;
    overflow: hidden;
    
}

.gif1{
    height: auto;
    width: 327px;
    margin-left: 70px;
}

.gif2{
    height: auto;
    width: 327px;
    margin-left: -5rem;
}

.gif3{
    height: auto;
    width: 327px;
    margin-left: -5rem;
}
.ad3 p{
    margin-left: 65%;
    margin-top: -180px;
}

.ads img{
    height: 40px;
    width: 20px;
    margin-left: 5rem;
}


.title{
    text-align: center;
    text-transform: capitalize;
    color: black;
    margin: 10px 0;
}

.traders-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.traders{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
}

.traders:hover{
    box-shadow: 0 10px 30px rgba(black);
    transform: translateY();
}

.traders img{
    display: block;
    width: 150px;
    height: 150px;
    border: 2px solid orangered;
    border-radius: 50%;
    margin: auto;
}

.container {
    padding: 2px 16px;
  }
 
 a:hpver{
     background-color: #fff!important
     
     ;
 }
 
 
 
 
 *,*:before,*:after{
    box-sizing: border-box;
 }


 /* footer */
 @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

        /* body {
            font-family: 'Muli', sans-serif;
            height: 100% !important;
            background-color: #fff !important;
            padding: 0 !important;
            margin: 0 !important
        } */

        .row justify-content-around mb-0 pt-5 pb-0 {
            background-color: orange;
        }

        .container-fluid {
            margin-top: 101px;
            color: #000 !important;
        }

        

        h2 {
            font-size: 90px;
        }

        h5 {
            font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important
        }

        .fa {
            cursor: pointer;
            font-size: 21px;
            margin: 5px 10px 5px 10px !important
        }

        button {
            font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
            padding-bottom: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
        }

        button:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0
        }

        .btn-success{
            background-color: rgb(204, 204, 204);
            height: 47px;
        }

        .btn-success:hover{
            background-color: red;
            
        }

        li {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
        }

        input {
            border: 2px solid black !important;
            
        }

        .input-group-lg>.custom-select,
        .input-group-lg>.form-control:not(textarea) {
            height: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important
        }

        input::-webkit-input-placeholder {
            padding-left: 5px !important;
            transform: translate3d(0, -4px, 0)
        }

        .input-group-append{
            margin-left: 5px;
        }

        input::placeholder {
            vertical-align: middle !important;
            font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important
        }

        .col-auto {
            flex: 0 0 auto;
            width: auto;
            margin-left: -95px;
        }

        input:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0
        }

        img {
            vertical-align: middle !important;
            width: 100%;
            height: auto;
            width: 250px;
        }

        li:first-child {
            font-size: 21px !important;
            font-weight: bold;
            color: #757575 !important
        }

        footer {
            color: #757575 !important;
            background-color: #D8EBE5;
        }

        .social {
            position: relative;
            left: -10px;
            margin-left: 11rem;
        }

        .cursor-pointer {
            cursor: pointer !important;
            color: black;
            font-weight: bold
        }

        
        .fa-facebook:before {
            margin-right: 6rem !important;
        }

        .fa-facebook:hover {
            color: blue;
        }

        .fa-twitter:before {
            margin-right: 6rem !important;
        }

        .fa-twitter:hover {
            color: #00acee;
        }

        .fa-linkedin:before {
            margin-right: 6rem !important;
        }

        .fa-linkedin:hover {
            color: #0072b1;
        }

        .fa-instagram:before {
            margin-right: 6rem !important;
        }

        .fa-instagram:hover {
            color: #8a3ab9;
        }

        
        .fa-paper-plane{
            width: 30%;
            color: #D8EBE5;
            right: 10px;
        }

        .fa-paper-plane:hover{
            color: blue;
            align-content: auto;
        }

        .fa-cc-paypal{
            color: #000;
            font-size: 30px;
        }

        .fa-cc-paypal:hover{
            color: #3b7bbf;
        }

        .fa-cc-visa{
            color: #000;
            font-size: 30px;
        }

        .fa-cc-visa:hover{
            color: #1A1F71;
        }

        a:link {
            text-decoration: none;
        }