@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

body{
    background-color: #f2f2f2;
    font-family: 'Fredoka', sans-serif;

}


.header{
    max-height: 10vh;
}

.main-body{
    min-height: 90vh;
}
.nav{
    border-top-right-radius: 20px;
    box-shadow: 0 -1px 0 #ffffff;
    /* outline: 1px solid #ffffff; */
    background-color: #ffffff;
}
.main-container{
   
}
#logo-header img{
    width: 130px;
    height:80px;
    padding-bottom: 5px;

} 